#picSqueeze img{
    width: 250px;
    height: 300px;
    padding-bottom: 10px;
    
    
}

#aboutheader{
    text-align: center;
    color: Yellow;
    background-color: black;
}

body{
    background-color: black;
    background-image: url('../images/AboutUs/comicmix.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 800px;
    text-align: center;
}

.container{
    color: white;
    background-color: black;
    border: silver solid 6px;
}

#stan{
    width: 300px;
    height: 300px;
}