#map{
    height: 400px;
    width: 100%;
}

body{
font-family: 'Nunito Sans', sans-serif;
background-image: url(../images/Fine-Halftone-Screen-Medium.png);
background-size: cover;
}


.footer{
    color: white;
    background-color: black;
    border: black solid 6px;
    width:100%;
}